.tic-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}

.tic-main {
  width: 400px;
  height: 400px;
  /* background: coral; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 32.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.border-right {
  border-right: 2px solid black;
}

.border-left {
  border-left: 2px solid black;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.border-top {
  border-top: 2px solid black;
}
